<footer class="footer">
  <div class="footer__content">
    <div class="container">
      <div class="footer__title section-title">
        Контакты
      </div>
      <div class="footer__text title">
        Давайте работать вместе.
      </div>
      <div class="contact__inner-info">
        <div class="contact__form">
          <div class="contact__form-text">
            Есть проект, который вы хотели бы обсудить?
          </div>
          <form>
            <div class="contact__form-row">
              <input class="form-contact" type="text" placeholder="Имя" required>
              <input class="form-contact" type="email" placeholder="Email" required>
            </div>
            <textarea class="form-contact" placeholder="Сообщение" required></textarea>
            <div class="contact__form-politics">
              <input type="checkbox" id="checkbox">
              <div class="politics-desc">
                Я принимаю условия политики конфиденциальности и даю согласие на обработку персональных данных.
              </div>
            </div>
            <button type="submit" name="send-sms" disabled="disabled" id="send-sms">Отправить</button>
          </form>
        </div>
        <div class="contact__social">
          <div class="contact__social-title">
            Мои социальные сети:
          </div>
          <ul class="contact__social-link">
            <li class="link link-email"><a href="#">Почта</a></li>
            <li class="link link-vk"><a href="https://vk.com/id168356073">ВКонтакте</a></li>
            <li class="link link-telegram"><a href="https://t.me/bsbhahs">Telegram</a></li>
            <li class="link link-instagram"> <a href="https://www.instagram.com/rainy_st.petersburg/">Instagram</a></li>
            <li class="link link-linkedin"><a href="https://www.linkedin.com/in/alexander-d-web-developer">LinkedIn</a>
            </li>
            <li class="link link-github"><a href="https://github.com/AlexDyatlov">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copy">
    <div class="container">
      <div class="footer__copy-text">
        © 2020 Alex Dyatlov. Все права защищены.
      </div>
    </div>
  </div>
</footer>