<footer id="contacts" class="footer">
  <div class="footer__content">
    <div class="container">
      <h2 class="footer__title section-title" data-aos="zoom-in-down">
        Контакты
      </h2>
      <div class="footer__inner">
        <div class="contacts" data-aos="fade-right" data-aos-delay="400">
          <div class="footer__text title">
            Давайте работать вместе.
          </div>
          <div class="contacts__text">
            <p>
              Есть проект, который вы хотели бы обсудить?
            </p>
            <p>
              Напишите мне в любую социальную сеть :)
            </p>
          </div>
          <ul class="contacts__list">
            <li class="contacts__item contacts__item--vk">
              <a class="contacts__link" href="https://vk.com/id168356073">ВКонтакте</a>
            </li>
            <li class="contacts__item contacts__item--telegram">
              <a class="contacts__link" href="https://t.me/bsbhahs">Telegram</a>
            </li>
            <li class="contacts__item contacts__item--instagram">
              <a class="contacts__link" href="https://www.instagram.com/rainy_st.petersburg/">Instagram</a>
            </li>
            <li class="contacts__item contacts__item--linkedin">
              <a class="contacts__link" href="https://www.linkedin.com/in/alexander-d-web-developer">LinkedIn</a>
            </li>
          </ul>
        </div>
        <div class="contacts">
          <div class="footer__text title" data-aos="zoom-in-left" data-aos-delay="250">
            Всегда на связи:
          </div>
          <ul class="contacts__list" data-aos="fade-left">
            <li class="contacts__item contacts__item--email">
              <a class="contacts__link" href="mailto:alexdyatlov.web@gmail.com">alexdyatlov.web@gmail.com</a>
            </li>
            <li class="contacts__item contacts__item--phone">
              <a class="contacts__link" href="tel:79291029246">+7 (929) 102-92-46</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    <div class="container">
      <div class="footer-copy__inner">
        <p class="footer-copy__text">
          © 2020-2021 |
        </p>
        <a class="link footer-copy__link" href="https://github.com/AlexDyatlov">Alex Dyatlov</a>
      </div>
    </div>
  </div>
</footer>