@import 'fonts';
@import 'vars';
@import 'global';

// start header
.header{
  min-height: 750px;
  background: rgb(138,91,173);
  background: linear-gradient(90deg, rgba(138,91,173,1) 0%, rgba(138,91,173,1) 0%, rgba(204,188,218,1) 100%, rgba(138,91,173,1) 100%);
  &__inner{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    margin-bottom: 60px;
  }
}
.header__logo{
  &-box{
    display: flex;
    align-items: center;
  }
  img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  span{
    color: #e0e0e9;
    padding-left: 30px;
    font-size: 24px;
    font-family: 'Balsamiq Sans', cursive;
  }
}
.menu{
  display: flex;
  align-items: center;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #fff;
    font-family: 'Balsamiq Sans', cursive;
  }
}

.header__info{
  font-family: 'Balsamiq Sans', cursive;
  &-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title{
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 45px;
    line-height: 53px;
    a{
      color: #000;
      &:hover{
        color: #1d2753;
      }
    }
  }
  &-text{
    font-size: 24px;
    line-height: 32px;
    color: #e0e0e9;
    margin-bottom: 15px;
  }
  &-social{

  }
  &-img{
    img{
    width: 500px;
    height: 500px;
    }
  }
}
// end header

// start about-me
.about-me{
  padding: 100px 0 100px;
  text-align: center;
}
.about-item{
  max-width: 595px;
  margin: 0 auto;
  font-family: 'Balsamiq Sans', cursive;
  &__img{
    margin-bottom: 25px;
    img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
}

// end about-me

// start services
.services{
  padding: 100px 0 100px;
  background: linear-gradient(to bottom,#7a19f1,#332179);
  background-attachment: fixed;
  &__title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
    color: #fff;
  }
}
.services__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  &-box{
    max-width: 900px;
  }
  &-text{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
  }
  &-description{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
  &-btn{
    a{
      padding: 10px 15px;
      background-color: #a37fbe;
      border-radius: 4px;
      color: #fff;
      display: inline-block;
      &:hover{
        background-color: #8c5eae;
      }
    }
  }
}
.services__items{
  display: flex;
  justify-content: space-between;
}
.services__item{
  font-family: 'Roboto', sans-serif;
  max-width: 375px;
  min-height: 430px;
  background-color: #f9f9f9;
  box-shadow: 0 0 60px #0000007a;
  text-align: center;
  padding: 10px 10px 80px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  &:before{
    content: " ";
    background: #4338c1cc;
    right: 0;
    left: 0;
    top: 0;
    z-index: 5;
    height: 180px;
    position: absolute;
    transform: rotate(-5deg);
    width: 1000px;
    top: -120px;
    left: -210px;
  }
  &:after{
    content: " ";
    background: #4338c1cc;
    right: 0;
    left: 0;
    top: 0;
    z-index: 5;
    height: 180px;
    position: absolute;
    transform: rotate(106deg);
    width: 1000px;
    top: -210px;
    left: -470px;
    opacity: .5;
  }
  img{
    width: 100px;
    height: 100px;
  }
  &-title{
    margin-top: 10px;
    color: #1d2753;
    margin-bottom: 20px;
    span{
      display: block;
    }
  }
  &-text{
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #545454;
  }
  &-btn{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    a{
      display: inline-block;
      padding: 10px 35px;
      color: #fff;
      border-radius: 42px;
      &:hover{
        transition: all .5s;
      }
    }
  }
}
.default__btn{
  &-landing{
    background-color: #c2c2c2;
    &:hover{
      background-color: #afafaf;
    }
  }
  &-сorporate{
    background-color: #5b43d6;
    &:hover{
      background-color: #452bc7;
    }
  }
  &-marketplace{
    background-color: #ffcb05;
    &:hover{
      background-color: #deb000;
    }
  }
 
}
.services__item--landing{
  &:before{
    content: " ";
    background: #80808024;
    z-index: 5;
    height: 180px;
    position: absolute;
    transform: rotate(-5deg);
    width: 1000px;
    top: -120px;
    left: -210px;
  }
  &:after{
    content: " ";
    right: 0;
    z-index: 5;
    height: 180px;
    position: absolute;
    transform: rotate(106deg);
    width: 1000px;
    top: -210px;
    left: -470px;
    opacity: .5;
    background: #0000001c;
  }
}
.services__item--сorporate{
  &:before{
    content: " ";
    background: #7205f7;
    z-index: 5;
    height: 180px;
    position: absolute;
    transform: rotate(-5deg);
    width: 1000px;
    top: -120px;
    left: -210px;
  }
  &:after{
    content: " ";
    right: 0;
    z-index: 5;
    height: 180px;
    position: absolute;
    transform: rotate(106deg);
    width: 1000px;
    top: -210px;
    left: -470px;
    opacity: .5;
    background: #5826a082;
  }
}
.services__item--marketplace{
  &:before{
    content: " ";
    right: 0;
    z-index: 5;
    height: 180px;
    position: absolute;
    transform: rotate(-5deg);
    width: 1000px;
    top: -120px;
    left: -210px;
    background: #ffcd00;
  }
  &:after{
    content: " ";
    right: 0;
    left: 0;
    top: 0;
    z-index: 5;
    height: 180px;
    position: absolute;
    transform: rotate(106deg);
    width: 1000px;
    top: -210px;
    left: -470px;
    opacity: .5;
    background: #e4ba34;
  }
}
// end services


// start skills
.skills{
  padding: 100px 0;
  &__title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
  }
}
.skills__top{
  max-width: 700px;
  &-text{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &-description{
    margin-bottom: 40px;
  }
}
.skills__inner{
  display: flex;
  justify-content: space-between;
  background-color: #332179;
  border-radius: 4px;
  padding: 30px;
  color: #fff;
  max-width: 700px;
  min-height: 270px;
  box-shadow: 0 0 60px #0000007a;
}
.skills__wrapper{
  display: flex;
}
.skills__col{
  &-title{
    margin-bottom: 20px;
  }
  &-list{
    li{
      color: #b7c3c8;
      position: relative;
      margin-bottom: 10px;
      padding-left: 22px;
      &:before{
        position: absolute;
        content: "\f105";
        color: #fff;
        left: 0;
        font-size: 18px;
        font-family: 'icomoon';
      }
    }
  }
}
.sills-man{
  position: relative;
  img{
    position: absolute;
    max-width: 845px;
    border-bottom: 1px solid #545454;
    left: -20px;
  }
}
// end skills





@import 'media';